In [1]:
import numpy as np
import pandas as pd
import caddie.models as models

PATH = "data/Common/host-host-distances.npy"
PATH_PROTEINS = "data/Common/protein-file.txt"
PATH_DRUGS = "data/Common/drug-intrial-link-file.tsv"
PATH_PROTEINS_NAMES = "data/Common/protein-names-file.tsv"

In [2]:
X = np.load(PATH, mmap_mode='r')

protein_acs = pd.read_csv(PATH_PROTEINS, sep="\t")['protein_ac']
drug_db_ids = pd.read_csv(PATH_DRUGS, sep="\t")['drug_id']
keys = [*protein_acs, *drug_db_ids]

# rows and cols are [...protein_acs, ...drug_db_ids]
df = pd.DataFrame(X, columns=keys, index=keys)

In [3]:
df

,Q07687,Q9Y468,Q5DJT8,Q9NY99,P51508,Q99497,P01602,P15529,Q96IY4,Q8IYW2,...,DB02631,DB11504,DB15580,DB15495,DB07399,DB15624,DB15446,DB15450,DB02926,DB03806
Q07687,0,3,2,3,2,2,3,3,3,3,...,3,2,4,3,3,3,4,4,3,3
Q9Y468,3,0,3,3,3,3,4,3,3,3,...,4,3,4,4,3,4,4,4,4,4
Q5DJT8,2,3,0,3,2,3,3,3,2,3,...,3,3,4,4,3,3,4,4,4,3
Q9NY99,3,3,3,0,3,3,4,3,3,4,...,4,3,4,4,4,4,4,3,4,4
P51508,2,3,2,3,0,2,4,3,3,3,...,3,3,4,4,3,3,4,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DB15624,3,4,3,4,3,3,4,4,4,4,...,4,3,5,5,4,0,4,4,5,4
DB15446,4,4,4,4,4,3,4,4,4,4,...,4,4,4,4,3,4,0,4,4,3
DB15450,4,4,4,3,4,4,4,4,4,5,...,5,4,5,3,4,4,4,0,4,4
DB02926,3,4,4,4,4,4,3,4,3,3,...,4,4,5,4,3,5,4,4,0,4
DB03806,3,4,3,4,3,3,3,3,3,4,...,4,3,4,4,3,4,3,4,4,0

In [3]:
df = pd.read_csv(PATH_DRUGS, sep="\t")

In [16]:
df['name'][0]

'Lepirudin'

In [22]:
df

      drug_id                 name drug_status  in_trial  in_literature links
0     DB00001            Lepirudin    approved     False          False   NaN
1     DB00002            Cetuximab    approved     False          False   NaN
2     DB00004  Denileukin diftitox    approved     False          False   NaN
3     DB00005           Etanercept    approved     False          False   NaN
4     DB00006          Bivalirudin    approved     False          False   NaN
...       ...                  ...         ...       ...            ...   ...
6856  DB15624                 None  unapproved     False          False   NaN
6857  DB15446                 None  unapproved     False          False   NaN
6858  DB15450                 None  unapproved     False          False   NaN
6859  DB02926                 None  unapproved     False          False   NaN
6860  DB03806                 None  unapproved     False          False   NaN

[6861 rows x 6 columns]